.sdm-st0{enable-background:new    ;}
.sdm-st1{fill:#7E7E7E;}
.sdm-st2{clip-path:url(#SVGID_2_);enable-background:new    ;}
.sdm-st3{fill:#7D7D7D;}
.sdm-st4{fill:#818181;} 
.sdm-st5{fill:#858585;}
.sdm-st6{fill:#898989;}
.sdm-st7{clip-path:url(#SVGID_4_);enable-background:new    ;}
.sdm-st8{fill:#797979;}
.sdm-st9{fill:#757575;}
.sdm-st10{fill:#717171;}
.sdm-st11{fill:#6D6D6D;}
.sdm-st12{fill:#696969;}
.sdm-st13{clip-path:url(#SVGID_6_);enable-background:new    ;}
.sdm-st14{clip-path:url(#SVGID_8_);enable-background:new    ;}
.sdm-st15{clip-path:url(#SVGID_10_);enable-background:new    ;}
.sdm-st16{clip-path:url(#SVGID_12_);enable-background:new    ;}
.sdm-st17{fill:#8D8D8D;}
.sdm-st18{clip-path:url(#SVGID_14_);enable-background:new    ;}
.sdm-st19{clip-path:url(#SVGID_16_);enable-background:new    ;}
.sdm-st20{clip-path:url(#SVGID_18_);enable-background:new    ;}
.sdm-st21{clip-path:url(#SVGID_20_);enable-background:new    ;}
.sdm-st22{clip-path:url(#SVGID_22_);enable-background:new    ;}
.sdm-st23{clip-path:url(#SVGID_24_);enable-background:new    ;}
.sdm-st24{clip-path:url(#SVGID_26_);enable-background:new    ;}
.sdm-st25{clip-path:url(#SVGID_28_);enable-background:new    ;}
.sdm-st26{clip-path:url(#SVGID_30_);enable-background:new    ;}
.sdm-st27{clip-path:url(#SVGID_32_);enable-background:new    ;}
.sdm-st28{clip-path:url(#SVGID_34_);enable-background:new    ;}
.sdm-st29{clip-path:url(#SVGID_36_);enable-background:new    ;}
.sdm-st30{clip-path:url(#SVGID_38_);enable-background:new    ;}
.sdm-st31{clip-path:url(#SVGID_40_);enable-background:new    ;}
.sdm-st32{clip-path:url(#SVGID_42_);enable-background:new    ;}
.sdm-st33{clip-path:url(#SVGID_44_);enable-background:new    ;}
.sdm-st34{clip-path:url(#SVGID_46_);enable-background:new    ;}
.sdm-st35{clip-path:url(#SVGID_48_);enable-background:new    ;}
.sdm-st36{clip-path:url(#SVGID_50_);enable-background:new    ;}
.sdm-st37{clip-path:url(#SVGID_52_);enable-background:new    ;}
.sdm-st38{clip-path:url(#SVGID_54_);enable-background:new    ;}
.sdm-st39{clip-path:url(#SVGID_56_);enable-background:new    ;}
.sdm-st40{clip-path:url(#SVGID_58_);enable-background:new    ;}
.sdm-st41{clip-path:url(#SVGID_60_);enable-background:new    ;}
.sdm-st42{clip-path:url(#SVGID_62_);enable-background:new    ;}
.sdm-st43{clip-path:url(#SVGID_64_);enable-background:new    ;}
.sdm-st44{clip-path:url(#SVGID_66_);enable-background:new    ;}
.sdm-st45{clip-path:url(#SVGID_68_);enable-background:new    ;}
.sdm-st46{clip-path:url(#SVGID_70_);enable-background:new    ;}
.sdm-st47{clip-path:url(#SVGID_72_);enable-background:new    ;}
.sdm-st48{clip-path:url(#SVGID_74_);enable-background:new    ;}
.sdm-st49{fill:#A9A9A9;}
.sdm-st50{clip-path:url(#SVGID_76_);enable-background:new    ;}
.sdm-st51{clip-path:url(#SVGID_78_);enable-background:new    ;}
.sdm-st52{fill:#1F5F80;}
.sdm-st53{fill:#206284;}
.sdm-st54{clip-path:url(#SVGID_80_);enable-background:new    ;}
.sdm-st55{fill:#1C5572;}
.sdm-st56{fill:#1D5877;}
.sdm-st57{fill:#1E5B7B;}
.sdm-st58{clip-path:url(#SVGID_82_);enable-background:new    ;}
.sdm-st59{clip-path:url(#SVGID_84_);enable-background:new    ;}
.sdm-st60{fill:#256F96;}
.sdm-st61{fill:#246C91;}
.sdm-st62{fill:#23688D;}
.sdm-st63{fill:#216588;}
.sdm-st64{fill:#1B526E;}
.sdm-st65{clip-path:url(#SVGID_86_);enable-background:new;}
.sdm-st66{fill:#267299;}
.sdm-st67{clip-path:url(#SVGID_88_);enable-background:new;}
.sdm-st68{clip-path:url(#SVGID_90_);enable-background:new;}
.sdm-st69{clip-path:url(#SVGID_92_);enable-background:new;}
.sdm-st70{clip-path:url(#SVGID_94_);enable-background:new;}
.sdm-st71{clip-path:url(#SVGID_96_);enable-background:new;}
.sdm-st72{clip-path:url(#SVGID_98_);enable-background:new;}
.sdm-st73{clip-path:url(#SVGID_100_);enable-background:new;}
.sdm-st74{clip-path:url(#SVGID_102_);enable-background:new;}
.sdm-st75{clip-path:url(#SVGID_104_);enable-background:new;}
.sdm-st76{clip-path:url(#SVGID_106_);enable-background:new;}
.sdm-st77{clip-path:url(#SVGID_108_);enable-background:new;}
.sdm-st78{clip-path:url(#SVGID_110_);enable-background:new;}
.sdm-st79{fill:#26729A;}
.sdm-st80{fill:#1D5775;}
.sdm-st81{clip-path:url(#SVGID_112_);enable-background:new;}
.sdm-st82{clip-path:url(#SVGID_114_);enable-background:new;}
.sdm-st83{clip-path:url(#SVGID_116_);enable-background:new;}
.sdm-st84{clip-path:url(#SVGID_118_);enable-background:new;}
.sdm-st85{clip-path:url(#SVGID_120_);enable-background:new;}
.sdm-st86{clip-path:url(#SVGID_122_);enable-background:new;}
.sdm-st87{clip-path:url(#SVGID_124_);enable-background:new;}
.sdm-st88{clip-path:url(#SVGID_126_);enable-background:new;}
.sdm-st89{clip-path:url(#SVGID_128_);enable-background:new;}
.sdm-st90{clip-path:url(#SVGID_130_);enable-background:new;}
.sdm-st91{clip-path:url(#SVGID_132_);enable-background:new;}
.sdm-st92{fill:#2D89B8;}
.sdm-st93{clip-path:url(#SVGID_134_);enable-background:new;}
.sdm-st94{clip-path:url(#SVGID_136_);enable-background:new;}
.sdm-st95{fill:#1C4272;}
.sdm-st96{clip-path:url(#SVGID_138_);enable-background:new;}
.sdm-st97{fill:#255696;}
.sdm-st98{fill:#245491;} 
.sdm-st99{fill:#23518D;}
.sdm-st100{fill:#214F88;}
.sdm-st101{fill:#204C84;}
.sdm-st102{fill:#1F4A80;}
.sdm-st103{fill:#265999;}
.sdm-st104{clip-path:url(#SVGID_140_);enable-background:new    ;}
.sdm-st105{clip-path:url(#SVGID_142_);enable-background:new    ;}
.sdm-st106{clip-path:url(#SVGID_144_);enable-background:new    ;}
.sdm-st107{clip-path:url(#SVGID_146_);enable-background:new    ;}
.sdm-st108{clip-path:url(#SVGID_148_);enable-background:new    ;}
.sdm-st109{clip-path:url(#SVGID_150_);enable-background:new    ;}
.sdm-st110{fill:#1D4577;}
.sdm-st111{fill:#1E477B;}
.sdm-st112{clip-path:url(#SVGID_152_);enable-background:new    ;}
.sdm-st113{clip-path:url(#SVGID_154_);enable-background:new    ;}
.sdm-st114{clip-path:url(#SVGID_156_);enable-background:new    ;}
.sdm-st115{clip-path:url(#SVGID_158_);enable-background:new    ;}
.sdm-st116{clip-path:url(#SVGID_160_);enable-background:new    ;}
.sdm-st117{fill:#1D4475;}
.sdm-st118{clip-path:url(#SVGID_162_);enable-background:new;}
.sdm-st119{fill:#1B406E;}
.sdm-st120{clip-path:url(#SVGID_164_);enable-background:new;}
.sdm-st121{fill:#26599A;}
.sdm-st122{clip-path:url(#SVGID_166_);enable-background:new;}
.sdm-st123{clip-path:url(#SVGID_168_);enable-background:new;}
.sdm-st124{clip-path:url(#SVGID_170_);enable-background:new;}
.sdm-st125{clip-path:url(#SVGID_172_);enable-background:new;}
.sdm-st126{clip-path:url(#SVGID_174_);enable-background:new;}
.sdm-st127{clip-path:url(#SVGID_176_);enable-background:new;}
.sdm-st128{clip-path:url(#SVGID_178_);enable-background:new;}
.sdm-st129{clip-path:url(#SVGID_180_);enable-background:new;}
.sdm-st130{fill:#2D6AB8;}
.sdm-st131{clip-path:url(#SVGID_182_);enable-background:new;}
.sdm-st132{fill:#FFFFFF;}
.sdm-st133{fill-rule:evenodd;clip-rule:evenodd;fill:#36A3DC;}
.sdm-st134{fill-rule:evenodd;clip-rule:evenodd;fill:#367FDC;}

.sdm-vt{
    width: 500px;
    align-self: center;
    justify-self: center;
} 

.sdm-vt:hover #sdm {
    animation-duration: 1.5s;
    animation-name: sdmAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}  
.sdm-vt #sdm {
    animation-duration: 1.5s;
    animation-name: sdmAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} 
@keyframes sdmAnimation {
    from {
        transform: translateX(0px) translateY(-23px);
        opacity: 0;
    }
    to {
        transform: translateX(23px) translateY(23px);
        opacity: 1;
    } 
}